.item{
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 10px;
}

.container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
    flex-direction: row;
}